* {
    box-sizing: border-box;
    
}

:root {
    --navColor: rgb(194, 217, 196);
    --sectionColor: rgb(92, 111, 95);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    Height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    font-size: 22px;
    margin-right: 30px;

}

li a  {
    color: black;
    text-decoration: none;
    display: block;
}

li a:hover {
    color: rgb(127, 138, 127);
}

.header {
    font-size: 40px;
    font-family: 'Courier New', sans-serif;
    margin: 50px;


}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navColor);
    font-family:'Courier New', sans-serif;


}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px;
    padding: 30px;
    font-family: 'Georgia', sans-serif;



}

.contact-me {
    display: flex;
    flex-direction: row;
}

.about-me h2 {
  font-size: 40px;
  margin: -60px;
  font-family:'Courier New', sans-serif;
  color: var(--sectionColor);
  position: absolute;
  text-align: center;


}

.my-work h2{
    font-size: 40px;
  margin: -60px;
    font-family:'Courier New', sans-serif;
    color: var(--sectionColor);
    position: absolute;
    text-align: center;
    /* top: 900px;
    left: 1100px; */
}

.contact-me h2{
    font-size: 40px;
    margin: -60px;
    font-family:'Courier New', sans-serif;
    color: var(--sectionColor);
    position: absolute;
    text-align: center;
}

.p {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 500px;
    height: 500px;
    border: 2px solid;
    padding: 40px;
    border-radius: 100px;
    border-color: rgb(118, 149, 118);
    top: 30%;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Courier New', sans-serif;
}

.float-right {
    display: block;
    margin-left: 80%;
    margin-top: -200px;
    max-height: 450px;
    max-width: 350px;
    padding: 0;

}

hr {
    padding: 0;
    color:rgb(95, 117, 95);
}

.img {
    display: flex;
    flex-direction: column;
    border: 5px solid;
    border-radius: 100px;
    border-color: rgb(118, 149, 118);
    margin-left: 80px;
    padding: 2px;
    min-width: 200px;
    max-width: 450px;


}

.MPW-caption {
    text-align: center;
}

.img:hover {
    border-color: rgb(21, 106, 21);
    max-width: 455px;
    min-width: 202px;

    }

.my-work-images {
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    border: 5px solid;
    border-radius: 50px;
    border-color: rgb(118, 149, 118);
    padding: 4px;
    width: auto;
}

.my-work-images:hover {
    border-color: rgb(21, 106, 21);
    height: 302px;
}


.github-img {
    padding: 0;
    margin: 0;
}

.contactOptions1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    /* float: right; */
    /* width: 25%;
    /* position: absolute;
    left: 20px;
    top: 1000px; */
}

.contactOptions2 {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    float: left;
    /* width: 25%; */
}

.caption {
    position: relative;
    text-align: center;
    font-family: 'Courier New', sans-serif;
    padding: 10px;
    font-weight: 600;
    color: var(--sectionColor);
    /* width: auto; */
}
.width300 {
    width: 300px;
}

.width302 {
    width: 302px;
}

.width493 {
    width: 493px;
}

.width378 {
    width: 378px;
}

.p2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    width: 350px;
    height: 50px;
    border: 2px solid;
    padding: 40px;
    border-radius: 100px;
    border-color: rgb(118, 149, 118);
    /* top: 10%; */
    line-height: 45px;
    font-size: 16px;
    position: center;
}

.toggle-button {
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(79, 98, 82);
    border-radius: 10px;
}

@media all and (max-width: 900px) {
    /* ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;

    } */

    .p {
        font-size: 18px;
    }

    ul {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .toggle-button {
        display: flex;
        top: 50px;
    }

    li {
        /* padding: 10px; */
        /* display: none; */
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    section{
        width: 100%;
    }

    ul.active {
        display: flex;
    }

}

@media (max-width: 450px) {
    .p {
        font-size: 12px;
    }
}

@media (max-width: 389px) {
    .p {
        font-size: 10px;
    }
}





